@charset "UTF-8";
/* Neat 1.7.0.pre http://neat.bourbon.io Copyright 2012–2014 thoughtbot, inc. MIT License */
/** Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.  @type Bool */
html { -moz-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -moz-box-sizing: inherit; box-sizing: inherit; }

/** Makes an element a outer container by centring it in the viewport, clearing its floats, and setting its `max-width`.  Although optional, using `outer-container` is recommended. The mixin can be called on more than one element per page, as long as they are not nested.  @param {Number} $local-max-width ($max-width) - Max width to be applied to the element. Can be a percentage or a measure.  @example scss .element { @include outer-container(100%); }  @example css .element { *zoom: 1; max-width: 100%; margin-left: auto; margin-right: auto; }  .element:before, .element:after { content: " "; display: table; }  .element:after { clear: both; } */
/** Changes the display property used by other mixins called in the code block argument.  @param {String} $display (block) - Display value to be used within the block. Can be `table` or `block`.  @example scss @include display(table) { .display-table { @include span-columns(6); } }  @example css  // CSS .display-table { display: table-cell; ... } */
/** Changes the direction property used by other mixins called in the code block argument.  @param {String} $direction (left-to-right) - Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.  @example scss @include direction(right-to-left) { .right-to-left-block { @include span-columns(6); } }  @example css  // CSS .right-to-left-block { float: right; ... } */
/*  Syntax Quick Reference -------------------------- column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter) span($ratio: 1, $offset: 0) shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter) unshift() edit() center($max_width: 1410px, $pad: 0) stack($pad: 0, $align: false) unstack() align($direction: both) cf()
*/
/** Grid settings. All values are defaults and can therefore be easily overidden. */
/** List functions courtesy of the wonderful folks at Team Sass. Check out their awesome grid: Singularity. */
/** Get  percentage from a given ratio. @param {number} [$ratio=1] - The column ratio of the element. @returns {number} - The percentage value. */
/** Work out the column widths based on the ratio and gutter sizes. @param {number} [$ratios=1] - The column ratio of the element. @param {number} [$gutter=$jeet-gutter] - The gutter for the column. @returns {list} $width $gutter - A list containing the with and gutter for the element. */
/** Get the set layout direction for the project. @returns {string} $direction - The layout direction. */
/** Replace a specified list value with a new value (uses built in set-nth() if available) @param {list} $list - The list of values you want to alter. @param {number} $index - The index of the list item you want to replace. @param {*} $value - The value you want to replace $index with. @returns {list} $list - The list with the value replaced or removed. @warn if an invalid index is supplied. */
/** Reverse a list (progressively enhanced for Sass 3.3) @param {list} $list - The list of values you want to reverse. @returns {list} $result - The reversed list. */
/** Get the opposite direction to a given value. @param {string} $dir - The direction you want the opposite of. @returns {string} - The opposite direction to $dir. @warn if an incorrect string is provided. */
/** Style an element as a column with a gutter. @param {number} [$ratios=1] - A width relative to its container as a fraction. @param {number} [$offset=0] - A offset specified as a fraction (see $ratios). @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns. @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one. @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width. */
/** An alias for the column mixin. @param [$args...] - All arguments get passed through to column(). */
/** Get the width of a column and nothing else. @param {number} [$ratios=1] - A width relative to its container as a fraction. @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width. */
/** Get the gutter size of a column and nothing else. @param {number} [ratios=1] - A width relative to its container as a fraction. @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width. */
/** An alias for the column-width function. @param [$args...] - All arguments get passed through to column(). */
/** An alias for the column-gutter function. @param [$args...] - All arguments get passed through to column(). */
/** Style an element as a column without any gutters for a seamless row. @param {number} [$ratios=1] - A width relative to its container as a fraction. @param {number} [$offset=0] - A offset specified as a fraction (see $ratios). @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns. @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one. */
/** Reorder columns without altering the HTML. @param {number} [$ratios=0] - Specify how far along you want the element to move. @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not. @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width. */
/** Reset an element that has had shift() applied to it. */
/** View the grid and its layers for easy debugging. @param {string} [$color=black] - The background tint applied. @param {boolean} [$important=false] - Whether to apply the style as !important. */
/** Alias for edit(). */
/** Horizontally center an element. @param {number} [$max-width=1410px] - The max width the element can be. @param {number} [$pad=0] - Specify the element's left and right padding. */
/** Uncenter an element. */
/** Stack an element so that nothing is either side of it. @param {number} [$pad=0] - Specify the element's left and right padding. @param {boolean/string} [$align=false] - Specify the text align for the element. */
/** Unstack an element. */
/** Center an element on either or both axes. @requires A parent container with relative positioning. @param {string} [$direction=both] - Specify which axes to center the element on. */
/** Apply a clearfix to an element. */
@font-face { font-family: 'corbel-webfont'; src: url("../font/corbel-webfont.eot"); src: url("../font/corbel-webfont.eot?#iefix") format("embedded-opentype"), url("../font/corbel-webfont.woff2") format("woff2"), url("../font/corbel-webfont.woff") format("woff"), url("../font/corbel-webfont.ttf") format("truetype"), url("../font/corbel-webfont.svg#corbelregular") format("svg"); font-weight: normal; font-style: normal; }
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ========================================================================== HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** Correct `inline-block` display not defined in IE 8/9. */
audio, canvas, video { display: inline-block; }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9. Hide the `template` element in IE, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* ========================================================================== Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* ========================================================================== Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* ========================================================================== Typography ========================================================================== */
/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari 5 and Chrome. */
dfn { font-style: italic; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Correct font family set oddly in Safari 5 and Chrome. */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/** Improve readability of pre-formatted text in all browsers. */
pre { white-space: pre-wrap; }

/** Set consistent quote types. */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ========================================================================== Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9. */
img { border: 0; }

/** Correct overflow displayed oddly in IE 9. */
svg:not(:root) { overflow: hidden; }

/* ========================================================================== Figures ========================================================================== */
/** Address margin not present in IE 8/9 and Safari 5. */
figure { margin: 0; }

/* ========================================================================== Forms ========================================================================== */
/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** 1. Correct font family not being inherited in all browsers. 2. Correct font size not being inherited in all browsers. 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button, input, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 2 */ margin: 0; /* 3 */ }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { -moz-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 1. Remove default vertical scrollbar in IE 8/9. 2. Improve readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ========================================================================== Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

.entry-content img { margin: 0 0 1.5em 0; }

.alignleft, img.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright, img.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

.wp-caption { text-align: center; margin-bottom: 1.5em; }

.wp-caption img { border: 0 none; margin: 0; padding: 0; }

.wp-caption p.wp-caption-text { margin: 0; }

.wp-smiley { max-height: 1em; margin: 0 !important; }

.gallery dl { margin: 0; }

.gallery-caption { margin: -1.5em 0 0 0; }

blockquote.left { float: left; margin-left: 0; margin-right: 20px; text-align: right; width: 33%; }

blockquote.right { float: right; margin-left: 20px; margin-right: 0; text-align: left; width: 33%; }

.splash { overflow: hidden; position: relative; max-height: 600px; text-align: center; background: url("../img/background.jpg") top left no-repeat; background-size: cover; }
.splash:before { content: ""; display: block; height: 0; padding-top: 43.75%; }
.splash > .splash-inner { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.splash-logo { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); padding: 16px; padding: 1rem; opacity: .6; max-width: 100%; max-height: 100%; }

.footer { text-align: center; }

* { -moz-box-sizing: border-box; box-sizing: border-box; }

html { overflow-y: scroll; width: 100%; min-height: 100%; font-size: 16px; font-size: 1rem; }

body { min-height: 100%; width: 100%; line-height: 1.4; font-family: "futura-pt", sans-serif; font-weight: 400; color: #080808; }

.wrapper { *zoom: 1; width: auto; max-width: 1040px; float: none; display: block; margin-right: auto; margin-left: auto; padding-left: 0; padding-right: 0; margin-top: 32px; padding: 0 8px; padding: 0 0.5rem; }
.wrapper:before, .wrapper:after { content: ''; display: table; }
.wrapper:after { clear: both; }

.navigation { *zoom: 1; float: left; clear: none; text-align: inherit; width: 17.5%; margin-left: 0%; margin-right: 5%; text-align: center; }
.navigation:before, .navigation:after { content: ''; display: table; }
.navigation:after { clear: both; }
.navigation:last-child { margin-right: 0%; }
@media screen and (max-width: 500px) { .navigation { display: none; } }
.navigation ul { list-style: none; margin: 0; padding: 0; }
.navigation li { padding: 4px 0; }
.navigation a, .navigation a:hover, .navigation a:active, .navigation a:focus, .navigation a:visited { color: #ff7175; text-decoration: none; text-transform: uppercase; }
.navigation a:hover { color: #ff7175; text-decoration: underline; }
.navigation .logo { padding-bottom: 16px; padding-bottom: 1rem; }

.content { *zoom: 1; float: left; clear: none; text-align: inherit; width: 55.0%; margin-left: 0%; margin-right: 5%; }
.content:before, .content:after { content: ''; display: table; }
.content:after { clear: both; }
.content:last-child { margin-right: 0%; }
@media screen and (max-width: 500px) { .content { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 5%; }
  .content:before, .content:after { content: ''; display: table; }
  .content:after { clear: both; }
  .content:last-child { margin-right: 0%; } }

article { padding-bottom: 32px; margin-bottom: 32px; border-bottom: 1px dotted #ff7175; }
article:last-child { border-bottom: none; }

.address { *zoom: 1; float: left; clear: none; text-align: inherit; width: 17.5%; margin-left: 0%; margin-right: 5%; margin-right: 0; font-size: 14px; font-size: 0.875rem; }
.address:before, .address:after { content: ''; display: table; }
.address:after { clear: both; }
.address:last-child { margin-right: 0%; }
@media screen and (max-width: 500px) { .address { display: none; } }

h1, h2, h3, h4, h5 { font-size: 16px; font-size: 1rem; color: #ff7175; margin-top: 0; font-weight: normal; }

a, a:hover, a:focus, a:visited, a:active { color: #ff7175; font-weight: normal; }

em { color: #ff7175; font-style: normal; }

.clearfix:after { content: ""; display: table; clear: both; }
