//Variables
$white: #ffffff;
$black: #080808;
$pink: #ff7175;

//Fonts
$nav-text: "futura-pt", sans-serif;
$heading-text: "futura-pt", sans-serif;
$body-text: "futura-pt", sans-serif;

//Grid
$jeet-gutter: 5;