.splash {
	@include ratio-box(16/7, ".splash-inner");
	max-height: 600px;
	text-align: center;
	background: url('../img/background.jpg') top left no-repeat;
	background-size: cover;
}

.splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	@include rem(padding, 1rem);
	opacity: .6;
	max-width: 100%;
	max-height: 100%;
}