// Variables
@import "vars";

// Imports
@import "bourbon";
@import "neat";
@import "jeet";

//Breakpoints
$medium: new-breakpoint(max-width 1200px);
$small: new-breakpoint(max-width 500px);
$tiny: new-breakpoint(max-width 340px);

//Font Families
@font-face {
    font-family: 'corbel-webfont';
    src: url('../font/corbel-webfont.eot');
    src: url('../font/corbel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/corbel-webfont.woff2') format('woff2'),
         url('../font/corbel-webfont.woff') format('woff'),
         url('../font/corbel-webfont.ttf') format('truetype'),
         url('../font/corbel-webfont.svg#corbelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Imports
@import "mixins";
@import "normalize";
@import "wp-default";
@import "header";
@import "footer";

//Sitewide CSS
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	width: 100%;
	min-height: 100%;
	@include rem('font-size', 1rem);
}

body {
	min-height: 100%;
	width: 100%;
	line-height: 1.4;
	font-family: $body-text;
	font-weight: 400;
	color: $black;
}

.wrapper {
	@include center(1040px);
	margin-top: 32px;
	@include rem(padding, 0 .5rem);
}

.navigation {
	@include column(3/14);
	text-align: center;

	@include media($small) {
		display: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: 4px 0;
	}

	a, a:hover, a:active, a:focus, a:visited {
		color: $pink;
		text-decoration: none;
		text-transform: uppercase;
	}

	a:hover {
		color: $pink;
		text-decoration: underline;
	}

	.logo {
		@include rem('padding-bottom', 1rem);
	}
}

.content {
	@include column(8/14);

	@include media($small) {
		@include column(14/14);
	}
}

article {
	padding-bottom: 32px;
	margin-bottom: 32px;
	border-bottom: 1px dotted $pink;

	&:last-child {
		border-bottom: none;
	}
}

.address {
	@include column(3/14);
	margin-right: 0;
	@include rem(font-size, 14px);

	@include media($small) {
		display: none;
	}
}

h1, h2, h3, h4, h5 {
	@include rem('font-size', 1rem);
	color: $pink;
	margin-top: 0;
	font-weight: normal;
}

a, a:hover, a:focus, a:visited, a:active {
	color: $pink;
	font-weight: normal;
}

em {
	color: $pink;
	font-style: normal;
}

.clearfix {
	@include clearfix;
}